.tabs_container {
    margin: 20px auto;
    padding-top: 100px;
}

table#machTable {
    margin: 10px auto;
}

table#machTable tbody td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.filter_container {
    display: flex;
    margin: 10px auto;
    text-align: center;
    width: 100%;
}

.filter_item {
    display: inline-block;
    width: inherit;
}

.filter_item label {
    padding-right: 10px;
}

.ajax_loader {
    background-image: url(loader.svg);
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 9999;
    background-size: 200px;
    top: 0;
    opacity: 1;
    visibility: visible;
}

.tseries_table_container {
    width: 100%;
    overflow: scroll;
}

.signal_cb {
    float: left;
}